/* Core Module - Typography */


// BASE
// ========================================================================

body {
  font-family: $font-family;
  font-size  : $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  
  color      : $color-default;
}


// TYPE SCALE
// ========================================================================

h1, h2, h3, h4, h5, h6 {
  font-family   : $font-family-sec;
  font-weight   : $font-weight-sec;
  
  text-transform: uppercase;
  
  color         : inherit;


  > * { line-height: 0; }
}

h1, .h1 { font-size: 2em    }
h2, .h2 { font-size: 1.5em  }
h3, .h3 { font-size: 1.25em }
h4, .h4 { font-size: 1em    }
h5, .h5 { font-size: .875em }
h6, .h6 { font-size: .75em  }


// RESPONSIVE IMAGES
// ========================================================================

img, canvas {
  box-sizing: border-box;
  max-width : 100%;
  border    : 0;
}


// VERTICAL-ALIGN FIX
// ========================================================================

audio, canvas, iframe, img, svg, video { vertical-align: middle; }